*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: poppins;
}
html {
  font-size: 62.5%;
}
body{
    width: 100%;
    height: auto;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #0062FF;
    border-radius: 10px;
}

::-webkit-scrollbar-button{
    background: #b3d2ff;
}

::-webkit-scrollbar-track{
    background: #b3d2ff;
}
.nav-container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-container .logo img{
    width: 20rem;
    margin: 1rem 5rem;
}
.navbar{
    text-transform: uppercase;
    font-weight: 600;
    padding: 3rem;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li a{
    padding:  1rem 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.9px;
    transition: all 0.5s;
    position: relative;
}
.navbar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #0062FF;
    text-underline-offset: 9px;
    transition: 1s ease-in-out;
}
.home{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top right, #3d86fa, #4484fb, #679eff, #b3d2ff, #ebf3fe);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-container{
    width: 50%;
    height: 100%;
    display: flex;  
    justify-content: center;
    flex-direction: column;  
    padding: 3rem;
    line-height: 1.56;
}
.home-container span{
    color: rgb(0, 59, 153);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}
.home-container h1{
    font-family: jost;
    font-size: 5rem;
    color: rgb(0, 59, 153);
}
.home-container p{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1.728px;
}

.home-container button{
    width: 20rem;
    padding: 1.5rem 3rem;
    color: #fff;
    letter-spacing: 1.728px;
    font-size: 14px;
    background: #0062FF;
    border: 0;
    border-radius: 5px;
    margin: 40px 0px;
}
.home-container button:hover{
    background-color: #0041aa;
}
.home-image{
    width: 50%;
    aspect-ratio: 1;
    background: url(images/main-hero1.webp) no-repeat;
    background-size: 90%;
    margin: 6rem;
    transform: rotateY(180deg);
    animation: main 0.3s linear 0s 1;
}

@keyframes main {
    0%{
        translate: 0 20%;
    }
    100%{
        translate: 0 0;
    }
}

.About{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 3rem 1.5rem 3rem;
    flex-wrap: wrap;
}
.heading{
    width: 100%;
    font-weight: 400;
    letter-spacing: 1.768px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading h2{    
    font-size: 2.5rem;
}
.heading span{
    font-size: 1.3rem;
}

.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.box{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.box .image{
    width: 9rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
    transition: all 1s;
}

.box .image:hover{
    background: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
    transform: rotateZ(360deg);
    transition: 0.5s ease-in-out;
}
.box img{
    width: 100px;
    aspect-ratio: 1;
}
.box h4{
    font-weight: 600;
    font-size: 2rem;
}
.box span{
    letter-spacing: 1.768px;
    font-size: 1.3rem;
    margin: 30px;
}

.services{
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #F7FCFF;
    font-size: 1.43rem;
}
.services-about h2{
    font-size: 2rem;
}
.services-about span{
    font-weight: 400;
    letter-spacing: 1.768px;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
}

.services-container .box{
    width: 30rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7FCFF;
    border-radius: 0.6rem;
}
.services-container .box:hover{
    filter: drop-shadow(10px 10px 10px rgb(237, 237, 237));
    cursor: pointer;
}
.image-container--service {
    max-width: 10rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.image-container--service i{
    font-size: 1.6rem;
}

.blog{
    width: 100%;
    height: auto;
    padding: 5rem 8rem 0rem 8rem;
    display: flex;
    flex-direction: column;
}
.blog-about{
    height: 10vh;
}
.info-about--image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.info-blog--data{
    width: 35rem;
    aspect-ratio: 2;
    font-size: 1.5rem;
}
.no1{
    text-align: end;
}
.image-container--blog{
    min-width: 31rem;
    aspect-ratio: 0.5;
    background-image: url(images/mobile.png);
    background-size: contain;
    margin: 4rem;
    translate: 1rem 0;
    background-repeat: no-repeat;
}
.info-blog--data .info{
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #EBF3FE;
    color: #0062FF;
    font-weight: 600;
    display: grid;
    place-items: center;
    position: relative;
}
.no1 .info{
    translate: 32rem 0;
}
.contact-us{
    width: 70%;
    height: auto;
    background: #ffffff;
    margin: auto;
    box-shadow: 4px -100px 200px 4px #f1f1f1;
    translate: 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.contact-image{
    width: 350px;
    aspect-ratio: 1;
    background: url(images/main.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 50px;
}

.contact-us h3{
    font-size: 2rem;
}
.contact-us .data{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.contact-us .data button{
    padding: 15px 25px;
    border: 0;
    background: #0062FF;
    letter-spacing: 1.768px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
}

.contact-us .data button i{
    padding: 5px;
    color: #0062FF;
    background: #fff;
    border-radius: 50%;
}
.footer{
    width: 100%;
    height: 60vh;
    background: #000;
    font-size: 1.5rem;
}
.footer a{
    color: #fff;
}

@media (width <= 1100px){
    *{
        margin: 0;
        padding: 0;
    }
    html {
      font-size: 54%;
    }
    .blog{
        & .info-about--image{
            padding: 0;
            margin: 0;

            .image-container--blog{
                display: none;
            }
        }
        & .info-blog--data{
            padding: 0.1rem;
            margin: 0.1rem;
        }
        & .no1{
            text-align: start;

            & .info-blog--data .info{
                translate: 0;
            }
        }
    }
}
@media (width <= 750px){
    *{
        margin: 0;
        padding: 0;
    }
    html {
      font-size: 44%;
    }
    .nav-container{
        flex-direction: column;
    }
    .home{
        height: auto;
        flex-direction: column-reverse;

        .home-container{
            padding: 0rem;
        }
        & .image{
            background-size: 100%;
        }
        & span {
            font-size: 1.2rem;
        }
        & h1 {
            font-size: 4rem;
        }
        & p {
            font-size: 1.2rem;
        }
    }
    /* .blog{
        & .info-about--image{
            flex-direction: column;
            padding: 0;
            margin: 10px;

            & .info-blog--data{
                text-align: start;
            }

            & .info{
                translate: 0;
                margin: 10px;
            }
        }
    } */
}

@media (width <= 600px) {
    .blog{

        & .blog-about{
            gap: 0px;
        }
        & .info-about--image{
            flex-direction: column;
            padding: 0;
            margin: 10px;

            & .info-blog--data{
                text-align: start;
            }

            & .info{
                translate: 0;
                margin: 10px;
            }
        }
    }
}
